*{
    padding: 0;
    margin: 0;

}

body{
    background: url(../img/body.png);
    background-size: cover;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.digital{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.widget{
    width: 50%;
    margin: 2em;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family: 'Bungee', cursive, sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.781);
    padding: 7px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.reloj{
    width: 100%;
    padding: 7px;
    font-size: 3.5rem;
    text-align: center;
    background: rgba(3, 3, 3, 0.781);
    border: 2px solid #fff;
    border-radius: 30px;
}

.reloj .caja_segundos{
    display: inline-block;
}

.reloj .segundos, .reloj .ampm{
    font-size: 1.7rem;
    display: block;
}